<footer class="footer">
    <div class="container-footer">
        <div class="row-footer">
            <div class="footer-col">
                <h4>Giới thiệu</h4>
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Dịch vụ của chúng tôi</a></li>
                    <li><a href="#">Điều khoản bảo mật</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Cần giúp đỡ</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Cửa hàng online</h4>
                <ul>
                    <li><a href="#">Sách chính trị</a></li>
                    <li><a href="#">Tiểu thuyết</a></li>
                    <li><a href="#">Truyện tranh</a></li>
                    <li><a href="#">Khác</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>