<header class="navbar">
    <div class="container">
        <a href="#" class="logo">
            <img src="../assets/logo.webp" alt="Logo">
        </a>
        <!-- <button class="menu-toggle">
            <i class="bi bi-list"></i>
        </button> -->
        <div class="navbar-header">
            <ul>
                <li>Trang chủ</li>
                <li>Tin sách</li>
                <li>
                    Sách Nhã Nam
                    <div class="submenu">
                        <ul class="level0">
                            <li class="level1 parent item">
                                <h4>
                                    <a href="/hu-cau" title="Hư cấu">Hư cấu</a>
                                    <span class="icon fa fa-angle-down"></span>
                                </h4>
                                <ul class="level1">

                                    <li class="level2"><a href="/van-hoc-hien-dai" title="Văn học hiện đại">Văn học hiện
                                            đại</a> </li>

                                    <li class="level2"><a href="/van-hoc-kinh-dien" title="Văn học kinh điển">Văn học
                                            kinh điển</a> </li>

                                    <li class="level2"><a href="/lich-su" title="Văn học thiếu nhi">Văn học thiếu
                                            nhi</a> </li>

                                    <li class="level2"><a href="/lang-man" title="Lãng mạn">Lãng mạn</a> </li>


                                    <li class="level2"><a href="/trinh-tham-kinh-di" title="Trinh thám - Kinh dị">Trinh
                                            thám - Kinh dị</a> </li>

                                    <li class="level2"><a href="/vien-tuong" title="Khoa học Viễn tưởng">Khoa học Viễn
                                            tưởng</a> </li>

                                    <li class="level2"><a href="/phieu-luu-ly-ky" title="Phiêu lưu ly kỳ">Phiêu lưu ly
                                            kỳ</a> </li>

                                    <li class="level2"><a href="/tan-van" title="Tản văn">Tản văn</a> </li>

                                    <li class="level2"><a href="/truyen-tranh-graphic-novel"
                                            title="Truyện tranh (graphic novel)">Truyện tranh
                                            (graphic novel)</a> </li>

                                    <li class="level2"><a href="/sach-tranh-picture-book"
                                            title="Sách tranh (Picture book)">Sách tranh (Picture
                                            book)</a> </li>

                                    <li class="level2"><a href="/tho-kich" title="Thơ - kịch">Thơ - kịch</a> </li>

                                    <li class="level2"><a href="/light-novel" title="Light novel">Light novel</a> </li>

                                    <li class="level2"><a href="/sach-to-mau" title="Sách tô màu">Sách tô màu</a> </li>

                                </ul>
                            </li>
                            <li class="level1 parent item">
                                <h4>
                                    <a href="/hu-cau" title="Hư cấu">Hư cấu</a>
                                    <span class="icon fa fa-angle-down"></span>
                                </h4>
                                <ul class="level1">

                                    <li class="level2"><a href="/van-hoc-hien-dai" title="Văn học hiện đại">Văn học hiện
                                            đại</a> </li>

                                    <li class="level2"><a href="/van-hoc-kinh-dien" title="Văn học kinh điển">Văn học
                                            kinh điển</a> </li>

                                    <li class="level2"><a href="/lich-su" title="Văn học thiếu nhi">Văn học thiếu
                                            nhi</a> </li>

                                    <li class="level2"><a href="/lang-man" title="Lãng mạn">Lãng mạn</a> </li>


                                    <li class="level2"><a href="/trinh-tham-kinh-di" title="Trinh thám - Kinh dị">Trinh
                                            thám - Kinh dị</a> </li>

                                    <li class="level2"><a href="/vien-tuong" title="Khoa học Viễn tưởng">Khoa học Viễn
                                            tưởng</a> </li>

                                    <li class="level2"><a href="/phieu-luu-ly-ky" title="Phiêu lưu ly kỳ">Phiêu lưu ly
                                            kỳ</a> </li>

                                    <li class="level2"><a href="/tan-van" title="Tản văn">Tản văn</a> </li>

                                    <li class="level2"><a href="/truyen-tranh-graphic-novel"
                                            title="Truyện tranh (graphic novel)">Truyện tranh
                                            (graphic novel)</a> </li>

                                    <li class="level2"><a href="/sach-tranh-picture-book"
                                            title="Sách tranh (Picture book)">Sách tranh (Picture
                                            book)</a> </li>

                                    <li class="level2"><a href="/tho-kich" title="Thơ - kịch">Thơ - kịch</a> </li>

                                    <li class="level2"><a href="/light-novel" title="Light novel">Light novel</a> </li>

                                    <li class="level2"><a href="/sach-to-mau" title="Sách tô màu">Sách tô màu</a> </li>

                                </ul>
                            </li>
                            <li class="level1 parent item">
                                <h4>
                                    <a href="/hu-cau" title="Hư cấu">Hư cấu</a>
                                    <span class="icon fa fa-angle-down"></span>
                                </h4>
                                <ul class="level1">

                                    <li class="level2"><a href="/van-hoc-hien-dai" title="Văn học hiện đại">Văn học hiện
                                            đại</a> </li>

                                    <li class="level2"><a href="/van-hoc-kinh-dien" title="Văn học kinh điển">Văn học
                                            kinh điển</a> </li>

                                    <li class="level2"><a href="/lich-su" title="Văn học thiếu nhi">Văn học thiếu
                                            nhi</a> </li>

                                    <li class="level2"><a href="/lang-man" title="Lãng mạn">Lãng mạn</a> </li>


                                    <li class="level2"><a href="/trinh-tham-kinh-di" title="Trinh thám - Kinh dị">Trinh
                                            thám - Kinh dị</a> </li>

                                    <li class="level2"><a href="/vien-tuong" title="Khoa học Viễn tưởng">Khoa học Viễn
                                            tưởng</a> </li>

                                    <li class="level2"><a href="/phieu-luu-ly-ky" title="Phiêu lưu ly kỳ">Phiêu lưu ly
                                            kỳ</a> </li>

                                    <li class="level2"><a href="/tan-van" title="Tản văn">Tản văn</a> </li>

                                    <li class="level2"><a href="/truyen-tranh-graphic-novel"
                                            title="Truyện tranh (graphic novel)">Truyện tranh
                                            (graphic novel)</a> </li>

                                    <li class="level2"><a href="/sach-tranh-picture-book"
                                            title="Sách tranh (Picture book)">Sách tranh (Picture
                                            book)</a> </li>

                                    <li class="level2"><a href="/tho-kich" title="Thơ - kịch">Thơ - kịch</a> </li>

                                    <li class="level2"><a href="/light-novel" title="Light novel">Light novel</a> </li>

                                    <li class="level2"><a href="/sach-to-mau" title="Sách tô màu">Sách tô màu</a> </li>

                                </ul>
                            </li>
                            <li class="level1 parent item">
                                <h4>
                                    <a href="/hu-cau" title="Hư cấu">Hư cấu</a>
                                    <span class="icon fa fa-angle-down"></span>
                                </h4>
                                <ul class="level1">

                                    <li class="level2"><a href="/van-hoc-hien-dai" title="Văn học hiện đại">Văn học hiện
                                            đại</a> </li>

                                    <li class="level2"><a href="/van-hoc-kinh-dien" title="Văn học kinh điển">Văn học
                                            kinh điển</a> </li>

                                    <li class="level2"><a href="/lich-su" title="Văn học thiếu nhi">Văn học thiếu
                                            nhi</a> </li>

                                    <li class="level2"><a href="/lang-man" title="Lãng mạn">Lãng mạn</a> </li>


                                    <li class="level2"><a href="/trinh-tham-kinh-di" title="Trinh thám - Kinh dị">Trinh
                                            thám - Kinh dị</a> </li>

                                    <li class="level2"><a href="/vien-tuong" title="Khoa học Viễn tưởng">Khoa học Viễn
                                            tưởng</a> </li>

                                    <li class="level2"><a href="/phieu-luu-ly-ky" title="Phiêu lưu ly kỳ">Phiêu lưu ly
                                            kỳ</a> </li>

                                    <li class="level2"><a href="/tan-van" title="Tản văn">Tản văn</a> </li>

                                    <li class="level2"><a href="/truyen-tranh-graphic-novel"
                                            title="Truyện tranh (graphic novel)">Truyện tranh
                                            (graphic novel)</a> </li>

                                    <li class="level2"><a href="/sach-tranh-picture-book"
                                            title="Sách tranh (Picture book)">Sách tranh (Picture
                                            book)</a> </li>

                                    <li class="level2"><a href="/tho-kich" title="Thơ - kịch">Thơ - kịch</a> </li>

                                    <li class="level2"><a href="/light-novel" title="Light novel">Light novel</a> </li>

                                    <li class="level2"><a href="/sach-to-mau" title="Sách tô màu">Sách tô màu</a> </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>Tác giả</li>
                <li>Cuộc thi</li>
                <li>Về Nhã Nam</li>
                <li>Liên hệ</li>
            </ul>
            <div class="form-group">
                <input type="text" id="customInput" class="form-control" placeholder="Nhập thông tin...">
                <i class="bi bi-search"></i>
            </div>
            <div class="user-header">
                <i class="bi bi-person-fill"></i>
                <i class="bi bi-bag"></i>
            </div>
        </div>
    </div>
</header>